Overlays/MenuObjects
{
	zorder 200
	
	container Panel(Elements/Item1)
	{
		left 0
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item1
		
		container Panel(Elements/Item1Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item2)
	{
		left 0.1
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item2
		
		container Panel(Elements/Item2Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item3)
	{
		left 0.2
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item3
		
		container Panel(Elements/Item3Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item4)
	{
		left 0.3
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item4
		
		container Panel(Elements/Item4Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item5)
	{
		left 0.4
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item5
		
		container Panel(Elements/Item5Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item6)
	{
		left 0.5
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item6
		
		container Panel(Elements/Item6Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item7)
	{
		left 0.6
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item7
		
		container Panel(Elements/Item7Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item8)
	{
		left 0.7
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item8
		
		container Panel(Elements/Item8Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item9)
	{
		left 0.8
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item9
		
		container Panel(Elements/Item9Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
	
	container Panel(Elements/Item0)
	{
		left 0.9
		top 0
		width 0.1
		height 0.1
		
		material Textures/Item0
		
		container Panel(Elements/Item0Inside)
		{
			left 0.02
			top 0.02
			width 0.06
			height 0.06
			
			material Textures/NoItem
		}
	}
}

Overlays/ObjectName
{
	zorder 200
	// Stats block
	container BorderPanel(Elements/PanelText)
	{
		metrics_mode pixels
		vert_align top
		left 5 
		top 65
		width 90
		height 30


		element TextArea(Elements/NameText)
		{
			metrics_mode pixels
			left 5
			top 5
			width 90
			height 30
			font_name StarWars
			char_height 16
			caption Nothing
			colour_top 1 1 0
			colour_bottom 1 1 0
		}
	}
}